<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Planner</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Current Events</h2>
        <%console.log(events)%>
        <% for (let i = 0; i in events; i++){ %>
            <div class="event">
                <%=events[i].name%> </br>
                <%=events[i].category%> </br>
                <%=(events[i].theme) ? events[i].theme : "No Theme"; %>
            </div>
            
        <%}%>
</body>
</html>