<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make a new Event</title>
</head>
<body>
        <form id="formForNewEvent">
            <input type="text" name="event-name"/>
            <input type="text" name="event-description"/>
            <input type="number" name="price"/>
            <input type="text" name="category"/>
            <input type="text" name="theme"/>
            <input type="text" name="location"/>
            <input type="submit" name="create-event" onclick="makeNewEvent()"/>
        </form>

</body>
</html>